<div class="pos-f-t menu-expansivel">
  <nav class="navbar navbar-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="list-group menu-usuario bg-light p4">
      <li class="list-group-item disabled">CATEGORIAS</li>
      <a href="#" class="list-group-item list-group-item-action item-clicavel">Tecnologia da Informação</a>
      <a href="#" class="list-group-item list-group-item-action item-clicavel">Gestão de Obras</a>
      <a href="#" class="list-group-item list-group-item-action item-clicavel">Metodologias Ativas</a>
      <a href="#" class="list-group-item list-group-item-action item-clicavel">Projetos Mecânicos</a>
      <a href="#" class="list-group-item list-group-item-action item-clicavel">Processos de Fabricação</a>
    </div>
  </div>
</div>
<div class="menu-background"></div>
